@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
  <div class="columns">
  <div class="column is-three-quarters">
     <div class="title">
    <h1>hcono! </h1>
  </div>  

  </div>
  </div>
<div class="columns">
  <div class="column is-three-quarters">
   
      <div class="field has-addons">
      <div class="control wide">
        <input class="input" type="text" placeholder="magasins, réstaurants, coiffeurs... ">
      </div>
      <div class="control ">
        <input class="input" type="text" placeholder="ex: cité, ville, wilaya...">
      </div>
      <div class="control">
        <a class="button is-info">
          Chercher
        </a>
      </div>
    </div>

  </div>
  </div>  
  
</div>